.layui-nav-child dd{
  margin-left: 20px;
}
.layui-logo{
  background: url('../images/logo.png')  no-repeat center;
}
.layui-icon{
  margin-right: 8px;
}
iframe{
  width: 100%;
  height: 100%;
}
.layui-body{
  overflow: hidden;
}
a{
  transition: none !important;
}